/*
Copyright 2021 Derrick Lor
Umass Lowell Computer Science
Email: derrick_lor@student.uml.edu
GUI Programming I
Date: 11/17/2021
Assignment: Homework 4 Tabs and Sliders
Sources: w3schools jqueryvalidation youtube
*/
body {
	margin-left: 10%;
	background-color: #e7e7e7;
	font-family: Roboto;
}
/*creates the gray stripes*/
tr:nth-child(even){
	background-color: lightgray;
}
/*styles the x-axis header*/
tr:first-child{
	background-color: black;
	color: white;
}
/*styles the y-axis header*/
td:first-child{
	background-color: black;
	color: white;
}
#myTable {
	overflow: scroll;
	max-height: 280px;
	max-width: 500px;
}
table {
	table-layout: fixed;
}

.error {
	color: red;
}


/*tab styling*/
#myTabs {
 width:400px; padding:5px; border:1px solid #636363;
 background:#c2c2c2 none;
}
.ui-widget-header {
 border:0; background:#c2c2c2 none; font-family:Georgia;
}
#myTabs .ui-widget-content {
 border:1px solid #aaa; background:#fff none; font-size:80%;
}
.ui-state-default, .ui-widget-content .ui-state-default {
 border:1px solid #636363; background:#a2a2a2 none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
 border:1px solid #aaa; background:#fff none;
}