/*
Copyright 2021 Derrick Lor
Umass Lowell Computer Science
Email: derrick_lor@student.uml.edu
GUI Programming I
Date: 11/4/2021
Assignment: Homework 4 jQuery validation
Sources: w3schools jqueryvalidation youtube
*/
body {
	margin-left: 10%;
	background-color: #e7e7e7;
	font-family: Roboto;
}
/*creates the gray stripes*/
tr:nth-child(even){
	background-color: lightgray;
}
/*styles the x-axis header*/
tr:first-child{
	background-color: black;
	color: white;
}
/*styles the y-axis header*/
td:first-child{
	background-color: black;
	color: white;
}
#myTable {
	overflow: auto;
}
table {
	table-layout: fixed;
}

.error {
	color: red;
}