
/*creates the gray stripes*/
tr:nth-child(even){
	background-color: lightgray;
}
/*styles the x-axis header*/
tr:first-child{
	background-color: black;
	color: white;
}
/*styles the y-axis header*/
td:first-child{
	background-color: black;
	color: white;
}
#myTable {
	overflow: scroll;
}
table {
	table-layout: fixed;
}